
@media only screen and (max-width: 768px) {
    .dragon-nav-li {
     margin-top: 20px;   
    }
    .dragon-nav-anch {
     margin-bottom: 10px;   
    }
    .login-action{
        margin-top: 20px;
    }
    .login-action-profile{
        margin-bottom: 10px;
    }
  }
@media only screen and (max-width: 425px) {
    .dragon-nav-li {
     margin-top: 20px;   
    }
    .dragon-nav-anch {
     margin-bottom: 10px;   
    }
    .login-action{
        margin-top: 20px;
    }
    .login-action-profile{
        margin-bottom: 10px;
    }
    .acc-img{
        margin-bottom: 10px;
    }
  }
@media only screen and (max-width: 375px) {
    .dragon-nav-li {
     margin-top: 20px;   
    }
    .dragon-nav-anch {
     margin-bottom: 10px;   
    }
    .login-action{
        margin-top: 20px;
    }
    .acc-img{
        margin-bottom: 10px;
    }
  }
@media only screen and (max-width: 320px) {
    .dragon-nav-li {
     margin-top: 20px;   
    }
    .dragon-nav-anch {
     margin-bottom: 10px;   
    }
    .login-action{
        margin-top: 20px;
    }
    .acc-img{
        margin-bottom: 10px;
    }
  }